.projects {
    margin-top: 7rem;
}

.project__header {
    width: 45%;
    align-items: flex-start;
}

.project__grid {
    width: 75%;
    padding: 2em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.project__title {
    font-size: 2em;
    padding: 1.3em;
    padding-bottom: 1.1em;
}

.project {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 1em;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s linear;
}

.project:hover {
    transform: scale(1.1);
}

.project__description {
    padding: 1.3rem;
    font-size: 1.1rem;
}

.github {
    font-size: 1.7em;
    gap: 0.7rem;
    left: 0;
    bottom: 3rem;
}