.skills {
    margin-top: 7rem;    
}

.skills__title {
    width: 45%;
    align-items: flex-start;
}

.skills__container {
    width: 75%;
    padding: 2em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.languages {
    max-width: 350px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    flex: 50%;
    justify-content: space-evenly;
}

.item {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.item h4 {
    font-size: 1.2em;
}

.tools {
    max-width: 350px;
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    flex: 50%;
    justify-content: space-evenly;
}
