.about {
    margin: 7rem;
    text-align: center;
    position: relative;
}

.about h1 {
    color: orange;
}

.roles {
    margin-top: 1.3rem;
}

/* CTA */
.cta {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    gap: 1rem;
    justify-content: center;
}

.cta .btn-primary {
    font-size: 27px;
}

/* SOCIALS */
.socials {
    font-size: 1.9em;
    gap: 0.7rem;
    left: 0;
    bottom: 3rem;
}


