.about {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.about h1 {
    color: orange;
}

.about h4 {
    margin-top: 1rem;
}

.about__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* CTA */
.cta {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    gap: 1rem;
    justify-content: center;
}

.cta .btn-primary {
    font-size: 27px;
}

/* SOCIALS */
.socials {
    display: flex; 
    align-items: center;
    gap: 0.7rem;
    left: 0;
    bottom: 3rem;
}

