.header {
    display: flex;
    height: 7em;
    width: 95%;
    margin: 0.5em;
  }
  
  .logo {
    margin-left: 300px;
    margin-top: 3rem;
    align-self: flex-end;
  }
  
  @media (max-width: 600px) {
    .header {
      height: 6em;
    }
  }